<!-- App cards-->
<div class="row" id="app-card">
  <% let getCategoryById = (categoryId) => {
    let result;
    categories.forEach(category => {
      if(category._id.equals(categoryId)) {
        result = category;
      }
    });
    return result;
  } %>
  <% data.forEach(app => {
    let category = getCategoryById(app.category);
  %>
    <div class="col col-lg-4 col-md-6 col-12" onclick="location.href='/app/<%=app._id%>';">
      <div class="card-body <%= category.className%> d-flex">
        <img class="app-logo" src="<%= app.image %>">
        <div>
          <h2><%= app.name; %></h2>
          <p class="app-slogan"><%= app.slogan %></p>
          <div class="badge rounded-pill text-light <%=category.badgeName %>"><%= category.name %></div>
        </div>
      </div>
    </div>
  <% })%>
</div>
