<!-- App cards-->
<div class="row" id="app-card">
<% data.forEach(app => { %>
  <div class="col col-lg-4 col-md-6 col-12" onclick="location.href='/app/<%=app._id%>';">
    <div class="card-body category-<%=app.category%> d-flex">
      <img class="app-logo" src="/images/brandlogos/goodOnYou.png">
      <div>
        <h2><%= app.name; %></h2>
        <p class="app-slogan"><%= app.slogan %></p>
        <div class="badge rounded-pill text-light category-badge-<%=app.category%>"><%= app.category %></div>
      </div>
    </div>
  </div>
<% })%>
</div>
