<% let action = app ? `/app/${app.id}/edit` : "/add" %>
<form action="<%= action %>" method="post">
  <div id="new-app" class="container">

    <% let title = app ? "Edit your GreenPick" : "Add a new GreenPick" %>

    <section>
      <div class="row justify-content-center align-items-center">
        <img src="/images/greenpick/logo3.svg">
        <h2 class="title-div"><%= title %></h2>
        <img src="/images/greenpick/logo3.svg">
      </div>
    </section>

    <section>
      <label class="form-group question-field">Name of the application or brand: </label>
      <input class="form-control" type="text" name="name" placeholder="...type here" required=""
      <% if (app) { %> value="<%= app.name %><% } %>">
    </section>

    <section>
      <label class="form-group question-field">Where can users find it?</label>
      <input class="form-control" type="text" name="website" placeholder="...type here" required=""
      <% if (app) { %> value="<%= app.website %><% } %>">
    </section>

    <section>
      <label class="form-group question-field">What category does your app fit in?</label>
      <select class="form-select category-dropdown" name="category">
        <% categories.forEach(category => {
          let selected = app && (app.category == category.label.toLowerCase()) ? 'selected="selected"' : ''; %>
          <option value="<%= (category.label).toLowerCase() %>" <%= selected %>><%= category.label %> </option>
        <% }); %>
      </select>
    </section>

    <section id="app-slogan">
      <label class="form-group question-field">Short description / Slogan: </label>
      <input class="form-control" type="text" name="slogan" placeholder="...type here" maxlength="50" rows="2" required=""
      <% if (app) { %> value="<%= app.slogan %><% } %>">
    </section>

    <section id="app-description">
      <label class="form-group question-field">More details about the application: </label>
      <textarea class="form-control" name="description" placeholder="...type here" rows="4" 
      required=""><% if (app) { %><%= app.description %><% } %></textarea>
    </section>

    <section id="app-image">
      <input type="file" class="filepond"
             name="filepond"
             data-max-file-size="3MB"
             data-max-files="1">
    </section>

    <section id="complete-submit" class="row justify-content-between no-gutters">
      <div class="col pl-0 pl-md-2 mb-2">
        <% let saveLabel = app ? "Save" : "Complete" %>
        <button id="complete-button" class="btn btn-lg btn-primary w-100" type="submit"><%= saveLabel %></button>
      </div>
      <% if (app) { %>
      <div class="order-md-first col-12 col-md-6 pr-0 pr-md-2">
        <button id="delete-button" class="btn btn-lg btn-outline-danger w-100">Delete</button>
      </div>
      <% } %>
    </section>
  </div>
</form>

